[Desktop Entry]
Categories=Qt;Application;Network;TrayIcon
Encoding=UTF-8
Exec=kotaci
GenericName=ADSL Kota Takipçisi
Icon=ok
Name=Kotacı
StartupNotify=false
Terminal=false
Type=Application
